<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{400,400}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{400,400}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>beingHit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2022},{140,174}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,17},{140,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>beingHit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2468},{140,156}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,35},{140,156}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,2},{98,168}}</string>
                <key>offset</key>
                <string>{-52,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{98,168}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2382},{138,152}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,44},{138,152}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,2286},{160,144}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{160,144}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2052},{172,140}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{172,140}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2334},{160,122}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,74},{160,122}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2234},{172,132}}</string>
                <key>offset</key>
                <string>{35,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,64},{172,132}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die7.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2194},{168,110}}</string>
                <key>offset</key>
                <string>{43,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,86},{168,110}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,172},{184,50}}</string>
                <key>offset</key>
                <string>{48,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,146},{184,50}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_beingHit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1952},{140,174}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,17},{140,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_beingHit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2450},{140,156}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,35},{140,156}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2326},{160,122}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,74},{160,122}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2184},{168,110}}</string>
                <key>offset</key>
                <string>{37,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,86},{168,110}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,172},{184,50}}</string>
                <key>offset</key>
                <string>{43,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,143},{184,50}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_hit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,404},{140,180}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,10},{140,180}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_hit1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2432},{140,170}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,20},{140,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_hit1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2368},{140,170}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,20},{140,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_hit1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,984},{140,176}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,14},{140,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_initial1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1890},{130,176}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,16},{130,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2094},{138,174}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,18},{138,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1890},{130,176}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,16},{130,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2052},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,1952},{152,170}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,19},{152,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1406},{138,176}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,16},{138,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1546},{130,176}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,16},{130,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2052},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2052},{140,172}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,19},{140,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,546},{138,178}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,14},{138,178}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1266},{138,176}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,16},{138,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1126},{138,176}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,16},{138,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>foot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1026},{306,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{306,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>foot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,404},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>gameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1334},{306,308}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{306,308}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>hand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,716},{308,310}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>hit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,842},{140,176}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,20},{140,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,686},{154,176}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,20},{154,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,842},{140,176}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,20},{140,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2124},{154,160}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,34},{154,160}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2324},{142,162}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,28},{142,162}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2192},{132,172}}</string>
                <key>offset</key>
                <string>{-57,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{132,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2296},{140,166}}</string>
                <key>offset</key>
                <string>{-40,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{140,166}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2184},{140,168}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{140,168}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2304},{140,168}}</string>
                <key>offset</key>
                <string>{-25,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{140,168}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2184},{140,168}}</string>
                <key>offset</key>
                <string>{-25,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,27},{140,168}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2304},{140,170}}</string>
                <key>offset</key>
                <string>{-28,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,25},{140,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>initial1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2184},{118,170}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,26},{118,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2194},{128,164}}</string>
                <key>offset</key>
                <string>{-26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,32},{128,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2306},{112,164}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,32},{112,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2216},{128,164}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,32},{128,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2420},{128,162}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,34},{128,162}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2052},{134,162}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{134,162}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2306},{112,164}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,32},{112,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick8.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2194},{128,164}}</string>
                <key>offset</key>
                <string>{-26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,32},{128,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>super_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1814},{136,224}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,21},{136,224}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>super_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1678},{134,226}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,20},{134,226}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>super_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1766},{122,226}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,20},{122,226}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>super_hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1642},{122,230}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,16},{122,230}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>super_hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1814},{136,224}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,21},{136,224}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>super_hit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1678},{134,226}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,20},{134,226}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>super_hit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1766},{122,226}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,20},{122,226}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>super_hit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1642},{122,230}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,16},{122,230}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>super_hit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1814},{136,224}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,21},{136,224}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2164},{138,172}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2052},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2052},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2052},{138,172}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2052},{138,172}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2052},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2052},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2192},{140,170}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,21},{140,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2164},{138,172}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2052},{138,172}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2052},{138,172}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8429c6a50158008a6fbf68664be453e:9c9c39e0553996e72f1aafa6c51131d9:82a02fb276c68a75a0b9bb09abd8f7de$</string>
            <key>textureFileName</key>
            <string>action.pvr.ccz</string>
        </dict>
    </dict>
</plist>
