<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,354},{400,400}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{400,400}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>beingHit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,952},{140,174}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,17},{140,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>beingHit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1614},{140,156}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,35},{140,156}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,304},{608,172}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{608,172}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>continue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,126},{612,176}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{612,176}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,752},{98,168}}</string>
                <key>offset</key>
                <string>{-52,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{98,168}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1196},{138,152}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,44},{138,152}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,790},{160,144}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,52},{160,144}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1136},{172,140}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{172,140}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die5.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1476},{160,122}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,74},{160,122}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{172,132}}</string>
                <key>offset</key>
                <string>{35,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,64},{172,132}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,814},{168,110}}</string>
                <key>offset</key>
                <string>{43,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,86},{168,110}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>die8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,530},{184,50}}</string>
                <key>offset</key>
                <string>{48,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,146},{184,50}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_beingHit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1048},{140,174}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,17},{140,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_beingHit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1596},{140,156}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,35},{140,156}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1368},{160,122}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,74},{160,122}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,478},{168,110}}</string>
                <key>offset</key>
                <string>{37,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,86},{168,110}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,478},{184,50}}</string>
                <key>offset</key>
                <string>{43,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,143},{184,50}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_hit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,582},{140,180}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,10},{140,180}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_hit1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1454},{140,170}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,20},{140,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_hit1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1334},{140,170}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,20},{140,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_hit1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,894},{140,176}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,14},{140,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_initial1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1036},{130,176}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,16},{130,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1062},{138,174}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,18},{138,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1036},{130,176}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,16},{130,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1202},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1300},{152,170}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,19},{152,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,864},{138,176}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,16},{138,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,930},{130,176}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,16},{130,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1094},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1226},{140,172}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,19},{140,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,724},{138,178}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,14},{138,178}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,790},{138,176}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,16},{138,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>e_walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,908},{138,176}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,16},{138,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>foot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,780},{306,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{306,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>foot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,478},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{306,308}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{306,308}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>hand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,756},{308,310}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>hit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,752},{140,176}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,20},{140,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,752},{154,176}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,20},{154,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,752},{140,176}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,20},{140,176}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1278},{154,160}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,34},{154,160}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1066},{142,162}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{142,162}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1224},{132,172}}</string>
                <key>offset</key>
                <string>{-57,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{132,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1758},{140,166}}</string>
                <key>offset</key>
                <string>{-40,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{140,166}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{140,168}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{140,168}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{140,168}}</string>
                <key>offset</key>
                <string>{-25,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{140,168}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1472},{140,168}}</string>
                <key>offset</key>
                <string>{-25,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,27},{140,168}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hit4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{140,170}}</string>
                <key>offset</key>
                <string>{-28,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,25},{140,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{650,66}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,64},{650,66}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>hp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,70},{624,54}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,69},{624,54}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>initial1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,984},{118,170}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,26},{118,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1066},{128,164}}</string>
                <key>offset</key>
                <string>{-26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,32},{128,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,648},{112,164}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,32},{112,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1548},{128,164}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,32},{128,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1156},{128,162}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,34},{128,162}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1060},{134,162}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{134,162}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,648},{112,164}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,32},{112,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>kick8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1066},{128,164}}</string>
                <key>offset</key>
                <string>{-26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,32},{128,164}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>newgame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,180},{608,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{608,172}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>newgame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{612,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{612,176}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>sound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1286},{122,148}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{122,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1398},{130,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{130,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,568},{210,210}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,106},{210,210}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>stop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,354},{212,212}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,107},{212,212}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1190},{138,172}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1004},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1168},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{138,172}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{138,172}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1004},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1168},{130,174}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1330},{140,170}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,21},{140,170}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1190},{138,172}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{138,172}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{138,172}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{138,172}}</string>
                <key>sourceSize</key>
                <string>{280,196}</string>
            </dict>
            <key>window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{778,748}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{778,748}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:806bb89c02954b204501e531f32c2e0d:40e45db238df2ed67e8b8002cbf34b16:82a02fb276c68a75a0b9bb09abd8f7de$</string>
            <key>textureFileName</key>
            <string>action.pvr.ccz</string>
        </dict>
    </dict>
</plist>
