<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1042},{608,172}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{608,172}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>continue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{612,176}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{612,176}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,752},{150,124}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{150,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{650,66}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,64},{650,66}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>hp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,428},{624,54}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,69},{624,54}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>newgame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{608,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{608,172}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>newgame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,428},{612,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,3},{612,176}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,820},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>sound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1036},{122,148}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{122,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,904},{130,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{130,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,216},{210,210}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,106},{210,210}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>stop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{212,212}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,107},{212,212}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{778,748}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{778,748}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMenu.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42e8cad8750db00f745856b00cd73724:1/1$</string>
            <key>textureFileName</key>
            <string>GameMenu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
