<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,612},{608,172}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{608,172}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,2},{608,172}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{608,172}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2052},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>backgroundHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>backgroundOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>gameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>pre1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,1222},{306,136}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{306,136}}</string>
                <key>sourceSize</key>
                <string>{330,140}</string>
            </dict>
            <key>pre2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1856},{306,136}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{306,136}}</string>
                <key>sourceSize</key>
                <string>{330,140}</string>
            </dict>
            <key>rankName.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1698},{420,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{420,156}}</string>
                <key>sourceSize</key>
                <string>{450,160}</string>
            </dict>
            <key>rankScores.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1540},{420,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{420,156}}</string>
                <key>sourceSize</key>
                <string>{450,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MMFightingAllImage2.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e52d333866bb3662937328ceec943211:1/1$</string>
            <key>textureFileName</key>
            <string>MMFightingAllImage2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
